<%= provide(:title,'Your Questions')%>
<h2> Questions</h2>
<% if @questions.any? %>
	<ul>	
		<%= render @questions %>  
	</ul>	
	<div class="digg_pagination">
			
			  <% page_entries_info @questions %>
			
		<%= will_paginate @questions, :previous_label => 'Previous Page', :next_label => 'Next Page'%>
		</div>
	<% will_paginate %>
	<% else %>
		<p> You didnt asked any question !</p>
	<% end %>